.failedSign * {
    border-style: double;
    border-color: red;
    color: red;
    display: inline-block;
}

.lastUserAddedSign * {
    border-style: dotted;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
}

.currentUserDisplay, .notLoggedInDisplay {

    border-style: solid;

}

.sideListDisplay {

    position: fixed;
    right: 0px;
    top: 0px;
    border-style: double;

}

.inline-block {
    display: inline-block;
}

#viewOrdersFilters {
    
    margin-top: 10px;
    margin-bottom: 10px;

}